name: Security Scans

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
permissions:
  contents: read
  security-events: write

jobs:
  semgrep:
    uses: vedanshvachani/secure-ci-templates/.github/workflows/semgrep.yml@main
    with:
      scan_path: "." 
